Repository slihatim/ine-alumni-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: debug-check-java, sensitive-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=1000']
    -   id: check-merge-conflict

-   repo: local
    hooks:
    -   id: debug-check-java
        name: Check for debug logs & prints
        language: pygrep
        entry: '(System\.out\.println|e\.printStackTrace\(\)|logger\.debug)'
        types: [java]

    -   id: sensitive-check
        name: Check for sensitive information
        language: pygrep
        entry: '(password|secret|key|token).*='
        types: [file]
        files: 'application.*\.(properties|yml)$'

    -   id: maven-spotless
        name: Maven Spotless
        language: system
        entry: bash -c "./mvnw spotless:apply"
        pass_filenames: false

    -   id: maven-compile
        name: Maven Compile
        language: system
        entry: bash -c "./mvnw compile"
        pass_filenames: false

    -   id: maven-test
        name: Run Maven Tests
        language: system
        entry: bash -c "./mvnw spotless:apply test"
        pass_filenames: false
        stages: [pre-push]

Update Readme
  README.md
Due: none

Remove .env file and update .gitignore to exclude it; enhance pre-commit hooks for better logging checks
  .env
  .gitignore
  .pre-commit-config.yaml
Due: none

Pre commit configuration (#18)
  .github/pull_request_template.md
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  pom.xml
  src/main/java/com/ine/backend/services/ResourceService.java
  src/main/resources/application.yml
Due: debug-check-java, sensitive-check

Pre commit configuration (#18)
  .github/pull_request_template.md
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  pom.xml
  src/main/java/com/ine/backend/services/ResourceService.java
Due: debug-check-java

Email verification + Completing authentication (#18)
  .env
  package-lock.json
  package.json
  src/App.jsx
  src/NavBar.jsx
  src/SharedLayout.jsx
  src/components/alerts/Alerts.jsx
  src/components/authentication/AccountVerification.jsx
  src/components/authentication/AuthenticationProvider.jsx
  src/components/authentication/EmailVerification.jsx
  src/components/authentication/HideWhenAuthenticated.jsx
  src/components/authentication/Login.jsx
  src/components/authentication/ProtectedRoute.jsx
  src/components/authentication/Signup.jsx
  src/components/home/Section4.jsx
  src/components/login/Login.jsx
  src/components/signup/Signup.jsx
  src/components/ui/alert.tsx
  src/components/ui/input-otp.tsx
  src/schemas/signinSchema.js
  src/schemas/signupSchema.js
  src/services/auth-header.js
  src/services/auth-service.js
  src/services/user-service.js
Due: none

feat: Implement job offers system and enhance UI component library (#17)
  .husky/pre-commit
  .stylelintrc.json
  Footer.jsx
  NavBar.jsx
  package.json
  src/App.jsx
  src/NavBar.jsx
  src/components/contexts/LanguageContext.jsx
  src/components/contexts/ThemeContext.jsx
  src/components/emplois/Emplois.jsx
  src/components/offers/JobDetails.jsx
  src/components/offers/JobListing.jsx
  src/components/offers/JobSubmission.jsx
  src/components/offers/Jobs.jsx
  src/components/stages/Stages.jsx
  src/components/ui/avatar.jsx
  src/components/ui/badge.jsx
  src/components/ui/button.jsx
  src/components/ui/button.tsx
  src/components/ui/card.jsx
  src/components/ui/carousel.jsx
  src/components/ui/dialog.jsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.jsx
  src/components/ui/label.jsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/select.jsx
  src/components/ui/switch.jsx
  src/components/ui/textarea.jsx
  src/components/ui/utils.ts
  src/index.css
  src/main.jsx
  tsconfig.json
Due: none

feat: add new entities and repositories for alumni system
  src/main/java/com/ine/backend/entities/Company.java
  src/main/java/com/ine/backend/entities/CompanyReview.java
  src/main/java/com/ine/backend/entities/Education.java
  src/main/java/com/ine/backend/entities/Experience.java
  src/main/java/com/ine/backend/entities/ExternalLink.java
  src/main/java/com/ine/backend/entities/Laureat.java
  src/main/java/com/ine/backend/entities/LinkType.java
  src/main/java/com/ine/backend/entities/Skill.java
  src/main/java/com/ine/backend/entities/SkillCategory.java
  src/main/java/com/ine/backend/entities/ThirdPartyUser1.java
  src/main/java/com/ine/backend/repositories/CompanyRepository.java
  src/main/java/com/ine/backend/repositories/CompanyReviewRepository.java
  src/main/java/com/ine/backend/repositories/EducationRepository.java
  src/main/java/com/ine/backend/repositories/ExperienceRepository.java
  src/main/java/com/ine/backend/repositories/ExternalLinkRepository.java
  src/main/java/com/ine/backend/repositories/LaureatRepository.java
  src/main/java/com/ine/backend/repositories/SkillRepository.java
Due: debug-check-java

feat: add DTOs and improve exception handling
  src/main/java/com/ine/backend/dto/CompanyDTO.java
  src/main/java/com/ine/backend/dto/CompanyDetailsDTO.java
  src/main/java/com/ine/backend/dto/CompanyReviewDTO.java
  src/main/java/com/ine/backend/dto/EducationDTO.java
  src/main/java/com/ine/backend/dto/ExperienceDTO.java
  src/main/java/com/ine/backend/dto/ExternalLinkDTO.java
  src/main/java/com/ine/backend/dto/LaureatDTO.java
  src/main/java/com/ine/backend/dto/LaureatDetailsDTO.java
  src/main/java/com/ine/backend/dto/LaureatFilterDTO.java
  src/main/java/com/ine/backend/dto/PageResponseDTO.java
  src/main/java/com/ine/backend/dto/SkillDTO.java
  src/main/java/com/ine/backend/exceptions/GlobalExceptionHandler.java
Due: debug-check-java

feat: add CORS configuration and update security settings
  src/main/java/com/ine/backend/config/CorsConfig.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
  src/main/java/com/ine/backend/security/jwt/AuthTokenFilter.java
Due: debug-check-java

feat: add data initializer for testing
  src/main/java/com/ine/backend/services/DataInitializerService.java
Due: debug-check-java

feat: add controllers and services for alumni system
  src/main/java/com/ine/backend/controllers/CompanyController.java
  src/main/java/com/ine/backend/controllers/LaureatController.java
  src/main/java/com/ine/backend/services/CompanyService.java
  src/main/java/com/ine/backend/services/LaureatService.java
Due: debug-check-java

fix: apply pre-commit changes
  .env-template
  src/main/java/com/ine/backend/config/WebConfig.java
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/controllers/FileUploadController.java
  src/main/java/com/ine/backend/controllers/LaureatController.java
  src/main/java/com/ine/backend/dto/CompanyDTO.java
  src/main/java/com/ine/backend/dto/CompanyReviewDTO.java
  src/main/java/com/ine/backend/dto/EventRequestDto.java
  src/main/java/com/ine/backend/dto/EventResponseDto.java
  src/main/java/com/ine/backend/dto/LaureatDTO.java
  src/main/java/com/ine/backend/dto/LaureatDetailsDTO.java
  src/main/java/com/ine/backend/dto/PageResponseDTO.java
  src/main/java/com/ine/backend/entities/Event.java
  src/main/java/com/ine/backend/mappers/EventMapper.java
  src/main/java/com/ine/backend/repositories/CompanyRepository.java
  src/main/java/com/ine/backend/repositories/EventRepository.java
  src/main/java/com/ine/backend/repositories/LaureatRepository.java
  src/main/java/com/ine/backend/services/DataInitializerService.java
  src/main/java/com/ine/backend/services/EventService.java
  src/main/java/com/ine/backend/services/LaureatService.java
  src/main/java/com/ine/backend/services/impl/EventServiceImpl.java
Due: debug-check-java

feat: update project configuration and dependencies
  .gitignore
  package.json
  vite.config.js
Due: none

feat: implement services layer for data management
  src/services/api.js
  src/services/companiesService.js
  src/services/laureatsService.js
Due: none

feat: implement comprehensive entreprises directory
  src/components/entreprises/AlumniList.jsx
  src/components/entreprises/CompanyCard.jsx
  src/components/entreprises/CompanyDetailPage.jsx
  src/components/entreprises/CompanyDetailsHeader.jsx
  src/components/entreprises/Entreprises.jsx
  src/components/entreprises/HRContactSection.jsx
  src/components/entreprises/RatingCard.jsx
  src/components/entreprises/ReviewsList.jsx
  src/components/layout/SearchBarWithFilters.jsx
Due: none

feat: add reusable UI components and common utilities
  src/components/common/FilterPanel.jsx
  src/components/common/InfoSection.jsx
  src/components/common/Timeline.jsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/select.tsx
  src/data/sampleData.js
Due: none

feat: implement laureats directory and update main application
  src/App.jsx
  src/NavBar.jsx
  src/components/laureats/LaureateDetailPage.jsx
  src/components/laureats/LaureateDetailsHeader.jsx
  src/components/laureats/Laureats.jsx
  src/components/laureats/ProfileCard.jsx
  src/components/laureats/SkillsList.jsx
  src/index.css
Due: none

feat: Implement user profile management features & env-template
  .env-template
  src/main/java/com/ine/backend/controllers/ProfileController.java
  src/main/java/com/ine/backend/dto/ChangeEmailRequestDto.java
  src/main/java/com/ine/backend/dto/ChangePasswordRequestDto.java
  src/main/java/com/ine/backend/dto/ProfileResponseDto.java
  src/main/java/com/ine/backend/dto/ProfileUpdateRequestDto.java
  src/main/java/com/ine/backend/entities/Permission.java
  src/main/java/com/ine/backend/entities/Role.java
  src/main/java/com/ine/backend/exceptions/GlobalExceptionHandler.java
  src/main/java/com/ine/backend/exceptions/InvalidPasswordException.java
  src/main/java/com/ine/backend/exceptions/ProfileNotFoundException.java
  src/main/java/com/ine/backend/exceptions/UnauthorizedProfileAccessException.java
  src/main/java/com/ine/backend/exceptions/UserAlreadyExistsException.java
  src/main/java/com/ine/backend/mappers/ProfileMapper.java
  src/main/java/com/ine/backend/services/ProfileService.java
  src/main/java/com/ine/backend/services/impl/ProfileServiceImpl.java
  src/main/java/com/ine/backend/services/impl/ResourceServiceImpl.java
  src/main/java/com/ine/backend/services/impl/UserServiceImpl.java
  src/main/java/com/ine/backend/utils/ProfileValidationUtils.java
  src/test/java/com/ine/backend/controllers/ProfileControllerTest.java
Due: debug-check-java

feat: Implement user profile management features & env-template
  src/test/java/com/ine/backend/controllers/ProfileControllerTest.java
Due: debug-check-java

fix: Configure test environment and update pre-commit hooks
  .pre-commit-config.yaml
  src/test/java/com/ine/backend/IneAlumniBackendApplicationTests.java
  src/test/resources/application-test.yml
Due: debug-check-java, sensitive-check

Make events public
  src/main/java/com/ine/backend/config/WebConfig.java
  src/main/java/com/ine/backend/controllers/AuthController.java
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/controllers/FileUploadController.java
  src/main/java/com/ine/backend/controllers/TestController.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
Due: debug-check-java

Make events public (#22)
  src/main/java/com/ine/backend/config/WebConfig.java
  src/main/java/com/ine/backend/controllers/AuthController.java
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/controllers/FileUploadController.java
  src/main/java/com/ine/backend/controllers/TestController.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
Due: debug-check-java

making single events with id public
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
Due: debug-check-java

making single events with id public (#23)
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
Due: debug-check-java

Refactor: validation messages and exception handling across DTOs and services; enhance ProfileService with input validation and logging; update application configuration for clarity and consistency.
  .env-template
  src/main/java/com/ine/backend/controllers/ProfileController.java
  src/main/java/com/ine/backend/dto/ChangeEmailRequestDto.java
  src/main/java/com/ine/backend/dto/ChangePasswordRequestDto.java
  src/main/java/com/ine/backend/dto/ProfileUpdateRequestDto.java
  src/main/java/com/ine/backend/dto/SignUpRequestDto.java
  src/main/java/com/ine/backend/exceptions/GlobalExceptionHandler.java
  src/main/java/com/ine/backend/security/jwt/AuthEntryPointJwt.java
  src/main/java/com/ine/backend/services/impl/OfferServiceImpl.java
  src/main/java/com/ine/backend/services/impl/ProfileServiceImpl.java
  src/main/resources/application.yml
  src/test/resources/application.yml
Due: debug-check-java, sensitive-check

Refactor: validation messages and exception handling across DTOs and services; enhance ProfileService with input validation and logging; update application configuration for clarity and consistency.
  src/main/java/com/ine/backend/config/WebConfig.java
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/controllers/FileUploadController.java
Due: debug-check-java

corriger probleme d affichage des images
  src/main/java/com/ine/backend/config/WebConfig.java
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
Due: debug-check-java

todo: mark filters as todo tell finishing the backend logic for them
  src/components/common/FilterPanel.jsx
Due: none

fix: apply pre-commit changes
  .env-template
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/controllers/FileUploadController.java
  src/main/java/com/ine/backend/controllers/LaureatController.java
  src/main/java/com/ine/backend/dto/CompanyDTO.java
  src/main/java/com/ine/backend/dto/CompanyReviewDTO.java
  src/main/java/com/ine/backend/dto/EventRequestDto.java
  src/main/java/com/ine/backend/dto/EventResponseDto.java
  src/main/java/com/ine/backend/dto/LaureatDTO.java
  src/main/java/com/ine/backend/dto/LaureatDetailsDTO.java
  src/main/java/com/ine/backend/dto/PageResponseDTO.java
  src/main/java/com/ine/backend/entities/Event.java
  src/main/java/com/ine/backend/mappers/EventMapper.java
  src/main/java/com/ine/backend/repositories/CompanyRepository.java
  src/main/java/com/ine/backend/repositories/EventRepository.java
  src/main/java/com/ine/backend/repositories/LaureatRepository.java
  src/main/java/com/ine/backend/services/DataInitializerService.java
  src/main/java/com/ine/backend/services/EventService.java
  src/main/java/com/ine/backend/services/LaureatService.java
  src/main/java/com/ine/backend/services/impl/EventServiceImpl.java
Due: debug-check-java
