Repository slihatim/ine-alumni-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: debug-check-java, sensitive-check

debug-check-java:
  name: Check for debug logs & prints
  language: pygrep
  entry: (System\.out\.println|e\.printStackTrace\(\)|logger\.debug)

sensitive-check:
  name: Check for sensitive information
  language: pygrep
  entry: (password|secret|key|token).*=

Ajout de l’API contact (envoi d’email depuis le backend)
  src/main/java/com/ine/backend/controllers/ContactMessageController.java
  src/main/java/com/ine/backend/entities/ContactMessage.java
  src/main/java/com/ine/backend/entities/ContactMessageRepository.java
  src/main/java/com/ine/backend/services/ContactMessageService.java
Due: debug-check-java

feat: add CORS support and fix offers endpoint authentication
  src/main/java/com/ine/backend/controllers/AuthController.java
  src/main/java/com/ine/backend/controllers/OfferController.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
Due: debug-check-java

fix: added CORS to the offers and auth controllers, add @Bean with Cors configuration
  src/main/java/com/ine/backend/controllers/AuthController.java
  src/main/java/com/ine/backend/controllers/OfferController.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
Due: debug-check-java

Refactor Files Location
  src/main/java/com/ine/backend/controllers/AuthController.java
  src/main/java/com/ine/backend/controllers/EmailVerificationController.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
  src/main/java/com/ine/backend/security/jwt/AuthTokenFilter.java
  src/main/java/com/ine/backend/security/jwt/JwtUtils.java
  src/main/java/com/ine/backend/services/AuthService.java
  src/main/java/com/ine/backend/services/EmailVerificationService.java
  src/main/java/com/ine/backend/services/impl/UserDetailsImpl.java
  src/main/java/com/ine/backend/services/impl/UserDetailsServiceImpl.java
Due: debug-check-java

refactor: remove unused test configuration files and simplify test setup
  src/test/java/com/ine/backend/IneAlumniBackendApplicationTests.java
  src/test/resources/application-test.yml
  src/test/resources/application.yml
Due: debug-check-java, sensitive-check

application-test.yml configuration to enable testing running withoutany problem
  src/test/java/com/ine/backend/IneAlumniBackendApplicationTests.java
  src/test/resources/application-test.yml
Due: debug-check-java, sensitive-check

refactor: enhance security and authorization in ProfileController; update response handling in AuthEntryPointJwt; clean up unused fields in ProfileResponseDto and exception classes
  src/main/java/com/ine/backend/controllers/ProfileController.java
  src/main/java/com/ine/backend/dto/ProfileResponseDto.java
  src/main/java/com/ine/backend/exceptions/EmailVerificationException.java
  src/main/java/com/ine/backend/exceptions/InvalidPasswordException.java
  src/main/java/com/ine/backend/exceptions/ProfileNotFoundException.java
  src/main/java/com/ine/backend/exceptions/ResourceNotFoundException.java
  src/main/java/com/ine/backend/exceptions/UnauthorizedProfileAccessException.java
  src/main/java/com/ine/backend/mappers/ProfileMapper.java
  src/main/java/com/ine/backend/security/jwt/AuthEntryPointJwt.java
Due: debug-check-java

refactor: update package declaration in ResourceServiceImpl and UserServiceImpl for consistency
  src/main/java/com/ine/backend/services/impl/ResourceServiceImpl.java
  src/main/java/com/ine/backend/services/impl/UserServiceImpl.java
Due: debug-check-java

refactor: enhance email verification process; add user not found and email already verified exceptions; update response DTOs for email and password changes
  src/main/java/com/ine/backend/controllers/EmailVerificationController.java
  src/main/java/com/ine/backend/controllers/ProfileController.java
  src/main/java/com/ine/backend/dto/ChangeEmailRequestDto.java
  src/main/java/com/ine/backend/dto/ChangeEmailResponseDto.java
  src/main/java/com/ine/backend/dto/ChangePasswordResponseDto.java
  src/main/java/com/ine/backend/dto/ProfileUpdateRequestDto.java
  src/main/java/com/ine/backend/entities/Permission.java
  src/main/java/com/ine/backend/entities/Role.java
  src/main/java/com/ine/backend/exceptions/EmailAlreadyVerifiedException.java
  src/main/java/com/ine/backend/exceptions/GlobalExceptionHandler.java
  src/main/java/com/ine/backend/exceptions/InvalidToken.java
  src/main/java/com/ine/backend/exceptions/UserNotFoundException.java
  src/main/java/com/ine/backend/services/EmailVerificationService.java
  src/main/java/com/ine/backend/services/ProfileService.java
  src/main/java/com/ine/backend/services/impl/ProfileServiceImpl.java
  src/main/resources/application.yml
Due: debug-check-java, sensitive-check

refactor: change HTTP method annotations from PUT to PATCH for profile update endpoints
  src/main/java/com/ine/backend/controllers/ProfileController.java
Due: debug-check-java

Initial Implementation password reset functionality with email verification
  src/main/java/com/ine/backend/controllers/PasswordResetController.java
  src/main/java/com/ine/backend/dto/ForgotPasswordRequestDto.java
  src/main/java/com/ine/backend/dto/ResetPasswordRequestDto.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
  src/main/java/com/ine/backend/services/PasswordResetService.java
  src/main/java/com/ine/backend/services/PasswordResetServiceImpl.java
Due: debug-check-java

Update pre-commit configuration to source environment variables for Maven commands
  .pre-commit-config.yaml
Due: none

refactor: update user-facing messages to English; enhance phone number and LinkedIn ID validation in DTOs; improve user details service logic
  src/main/java/com/ine/backend/controllers/AuthController.java
  src/main/java/com/ine/backend/dto/ProfileUpdateRequestDto.java
  src/main/java/com/ine/backend/entities/User.java
  src/main/java/com/ine/backend/services/impl/ProfileServiceImpl.java
  src/main/java/com/ine/backend/services/impl/UserDetailsServiceImpl.java
Due: debug-check-java

initial proposal
  src/main/java/com/ine/backend/controllers/AdminAuthController.java
  src/main/java/com/ine/backend/controllers/AdminsController.java
  src/main/java/com/ine/backend/controllers/AuthController.java
  src/main/java/com/ine/backend/dto/AdminCreationRequestDto.java
  src/main/java/com/ine/backend/entities/Admin.java
  src/main/java/com/ine/backend/entities/Ine.java
  src/main/java/com/ine/backend/entities/InptUser.java
  src/main/java/com/ine/backend/entities/Laureat.java
  src/main/java/com/ine/backend/entities/Permission.java
  src/main/java/com/ine/backend/entities/Role.java
  src/main/java/com/ine/backend/entities/User.java
  src/main/java/com/ine/backend/repositories/AdminRepository.java
  src/main/java/com/ine/backend/security/UserDetailsServiceImpl.java
  src/main/java/com/ine/backend/services/AdminsService.java
  src/main/java/com/ine/backend/services/AuthService.java
Due: debug-check-java

Fix: Apply requested changes — aligned WebConfig and SecurityConfig with PR #25, adjusted EventController and ContactMessageService
  src/main/java/com/ine/backend/config/CorsConfig.java
  src/main/java/com/ine/backend/config/WebConfig.java
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
  src/main/java/com/ine/backend/services/ContactMessageService.java
Due: debug-check-java

Feature/auth refactor and enhancements (#32)
  src/main/java/com/ine/backend/controllers/PasswordResetController.java
  src/main/java/com/ine/backend/dto/ForgotPasswordRequestDto.java
  src/main/java/com/ine/backend/dto/ResetPasswordRequestDto.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
  src/main/java/com/ine/backend/services/PasswordResetService.java
  src/main/java/com/ine/backend/services/PasswordResetServiceImpl.java
Due: debug-check-java

fixes
  src/main/java/com/ine/backend/services/PasswordResetServiceImpl.java
Due: debug-check-java

Wrapping API responses
  src/main/java/com/ine/backend/controllers/CompanyController.java
  src/main/java/com/ine/backend/controllers/LaureatController.java
Due: debug-check-java

Enable authorization for event management endpoints
  src/main/java/com/ine/backend/controllers/EventController.java
Due: debug-check-java

fixes
  src/main/java/com/ine/backend/config/WebConfig.java
  src/main/java/com/ine/backend/controllers/CompanyController.java
  src/main/java/com/ine/backend/controllers/ContactMessageController.java
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/controllers/LaureatController.java
  src/main/java/com/ine/backend/entities/ContactMessage.java
  src/main/java/com/ine/backend/repositories/ContactMessageRepository.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
  src/main/java/com/ine/backend/services/ContactMessageService.java
Due: debug-check-java

Addition of the contact API (sending emails from the backend) (#26)
  src/main/java/com/ine/backend/config/WebConfig.java
  src/main/java/com/ine/backend/controllers/CompanyController.java
  src/main/java/com/ine/backend/controllers/ContactMessageController.java
  src/main/java/com/ine/backend/controllers/EventController.java
  src/main/java/com/ine/backend/controllers/LaureatController.java
  src/main/java/com/ine/backend/entities/ContactMessage.java
  src/main/java/com/ine/backend/repositories/ContactMessageRepository.java
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
  src/main/java/com/ine/backend/services/ContactMessageService.java
Due: debug-check-java

Refactor
  src/main/java/com/ine/backend/controllers/AdminsController.java
  src/main/java/com/ine/backend/controllers/AuthController.java
  src/main/java/com/ine/backend/controllers/EmailVerificationController.java
  src/main/java/com/ine/backend/entities/InptUser.java
  src/main/java/com/ine/backend/entities/Permission.java
  src/main/java/com/ine/backend/entities/Role.java
  src/main/java/com/ine/backend/entities/User.java
  src/main/java/com/ine/backend/services/AdminsService.java
  src/main/java/com/ine/backend/services/AuthService.java
  src/main/java/com/ine/backend/services/EmailVerificationService.java
  src/main/java/com/ine/backend/services/impl/UserDetailsServiceImpl.java
Due: debug-check-java

formatting
  src/main/java/com/ine/backend/controllers/EmailVerificationController.java
Due: debug-check-java

test: add TestController unit tests (Iteration 1)
  pom.xml
  src/test/java/com/ine/backend/controllers/TestControllerTest.java
Due: debug-check-java

test: add ContactMessageService unit tests (Iteration 2)
  src/test/java/com/ine/backend/services/ContactMessageServiceTest.java
Due: debug-check-java

test: configure test infrastructure (Iteration 2.5)
  pom.xml
  src/test/resources/application-test.yml
Due: sensitive-check

docs: add testing progress report
  docs/TESTING_PROGRESS.md
Due: none

test: disable IneAlumniBackendApplicationTests temporarily
  src/test/java/com/ine/backend/IneAlumniBackendApplicationTests.java
Due: debug-check-java

Add devcontainer configuration for Codespaces
  .devcontainer/devcontainer.json
  src/main/resources/application.yml
  start.sh
Due: sensitive-check

Add Docker configuration for automated deployment
  .dockerignore
  Dockerfile
  docker-compose.yml
  start.sh
Due: none

fix: Explicitl ycitly set Maven Compiler Plugin version for Lombok compatibility
  pom.xml
Due: none

feat(backend): add centralized location management system
  src/main/java/com/ine/backend/controllers/LocationController.java
  src/main/java/com/ine/backend/dto/CountryLocationsDto.java
  src/main/java/com/ine/backend/dto/LocationResponseDto.java
  src/main/java/com/ine/backend/dto/LocationValidationRequest.java
  src/main/java/com/ine/backend/services/LocationService.java
  src/main/java/com/ine/backend/services/LocationServiceImpl.java
  src/main/resources/data/cities.json
Due: debug-check-java

Admin (#33)
  src/main/java/com/ine/backend/controllers/AdminAuthController.java
  src/main/java/com/ine/backend/controllers/AdminsController.java
  src/main/java/com/ine/backend/controllers/AuthController.java
  src/main/java/com/ine/backend/dto/AdminCreationRequestDto.java
  src/main/java/com/ine/backend/entities/Admin.java
  src/main/java/com/ine/backend/entities/Ine.java
  src/main/java/com/ine/backend/entities/InptUser.java
  src/main/java/com/ine/backend/entities/Laureat.java
  src/main/java/com/ine/backend/entities/Permission.java
  src/main/java/com/ine/backend/entities/Role.java
  src/main/java/com/ine/backend/entities/User.java
  src/main/java/com/ine/backend/repositories/AdminRepository.java
  src/main/java/com/ine/backend/services/AdminsService.java
  src/main/java/com/ine/backend/services/AuthService.java
  src/main/java/com/ine/backend/services/impl/UserDetailsServiceImpl.java
Due: debug-check-java

AI generated diagrams
  diagrams.md
Due: none

feat(deployment): add Docker Compose setup with backend service
  .dockerignore
  .env-template
  Dockerfile
  README.md
  docker-compose.yml
  pom.xml
  src/main/java/com/ine/backend/services/AuthService.java
  src/main/resources/application.yml
Due: debug-check-java, sensitive-check

corrections:wq
  diagrams.md
Due: none

fix: improve Docker configuration and performance
  Dockerfile
  docker-compose.yml
  src/main/resources/application.yml
Due: sensitive-check

fix(healthcheck): bypass auth for the healthcheck endpoint
  Dockerfile
  src/main/java/com/ine/backend/security/WebSecurityConfig.java
  src/main/resources/application.yml
Due: debug-check-java, sensitive-check

Path conditions:
  debug-check-java: any of: \.java$
  sensitive-check: any of: application.*\.(properties|yml)$
